- @grade.update(efficiency: @grade.calculate_efficiency, simple_average: @grade.calculate_average, weighted_average: @grade.calculate_weighted_average)
.border.border-info.mb-3
	%h4.text-center.bg-info.py-2 Resumen Académico
	.p-3.mb-4
		= render partial: '/grades/download_options'
	%br
	.row.mb-4.p-3
		.col-6= render partial: '/grades/total_table'
		.col.6= render partial: '/grades/numbers_table'