- if study_plan.subject_types.any?
    .mt-3.text-center 
        %b Cuadro Resumen Créditos

    %table.no_border.mt-3{style: 'width: 300px;margin-left:370px'}
        %thead
            %tr
                %th Tipología
                %th 
                %th Créditos Requeridos
                %th Créditos Superados
        %tbody
            - study_plan.subject_types.each do |tipo|
                %tr
                    %th= tipo.name.upcase
                    %th= tipo.code
                    %td= tipo.required_credits
                    %td= grado.credits_completed_by_type tipo

