- if study_plan.subject_types.any?
    %table.no_border.mt-3{style: 'width: 400px;margin-left:300px'}
        %thead
            %tr
                %th.text-start{style: 'width: 150px;'} Tipología
                %th{style: 'width: 100px;'} Requeridos
                %th{style: 'width: 100px;'} Superados
        %tbody
            - study_plan.requirement_by_subject_types.each do |tipo|
                %tr
                    %th.text-start= tipo.desc_pluralize
                    %td= tipo.required_credits
                    %td= grade.credits_completed_by_type tipo&.subject_type&.name

