%table.text-center
    %tr
        %td
            OBLIGATORIA
        %td
            OPTATIVAS
        %td
            ELECTIVAS
    %tr
        %td.text-center.fw-bold
            = @grade.study_plan.desc_credits
        %td.text-center.fw-bold
            = @grade.study_plan.desc_credits
        %td.text-center.fw-bold
            = @grade.study_plan.desc_credits

%br
    