
%table.no_border{style: 'width: 100%'}
  %tbody
    %tr
      %th Cédula
      %th Nombre
      %th Plan de estudio
      %th Expediente
    %tr
      %td= grade.user.ci
      %td= grade.user.reverse_name
      %td= grade.study_plan&.code_name
      %td= grade.id