- if @grade.articulo3? or @grade.articulo6? or @grade.articulo7?
  .alert.alert-danger 
    %h5.text-center= Grade.normative
    %h5.alert Atención, usted ha incurrido en la siguiente falta:
    %h6.alert.alert-warning.text-justify= @grade.normative_by_article&.html_safe
    - if @grade.articulo6? or @grade.articulo7?
      %h5.alert Por favor comuníquese con el personal administrativo para solventar su situación.