.m-3.p-3= render partial: 'enroll_academic_processes/new', locals: {grade: grade}

= render partial: 'grades/academic_resume', locals: {grade: grade}
= render template: 'enroll_academic_processes/index', locals: {enroll_academic_processes: grade.enroll_academic_processes}

