
- if false #current_user.eql? @student.user and grade and grade.reportepago.nil? and grade.asignado? and !@grado.enroll_academic_process.any?
  - # REPORTE DE PAGO DE LA ESCUELA
  = # render template: 'payment_reports/new'  
- if session[:rol].eql? 'admin' and (current_user&.admin?)
  = render partial: '/grades/show_admin'
- else
  = render partial: 'grades/show_student'
