#offcanvasStart.offcanvas.offcanvas-start.bg-primary{"aria-labelledby" => "offcanvasStartLabel", tabindex: "-1", style: "width:258px;"}
  .offcanvas-header
    %h5#offcanvasStartLabel
    %button.btn-close.text-reset.btn-close-white{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
  .offcanvas-body.p-1
    %ul.sidebar.nav.btn-toggle-nav.flex-column.flex-nowrap.bg-light
      =# render partial: 'layouts/rails_admin/sidebar_navigation_acoording'
      = main_navigation
      =# root_navigation
      =# static_navigation
