/ **************** MAIN CONTENT START ****************
/ Page content START
.page-content
  / Top bar START
  %nav.navbar.top-bar.navbar-light.border-bottom.py-0.py-xl-3
    .container-fluid.p-0
      .d-flex.align-items-center.w-100
        / Logo START
        .d-flex.align-items-center.d-xl-none
          %a.navbar-brand{:href => "index.html"}
            %img.light-mode-item.navbar-brand-item.h-30px{:alt => "", :src => "/assets/eduport/logo-mobile.svg"}/
            %img.dark-mode-item.navbar-brand-item.h-30px{:alt => "", :src => "/assets/eduport/logo-mobile-light.svg"}/
        / Logo END
        / Toggler for sidebar START

        %button.btn.btn-sm.btn-primary.float-end{"data-bs-toggle": :offcanvas, role: :button, 'data-bs-toggle': :tooltip, title: 'Menú'}
          %i.fa.fa-chevron-left.fs-3{"data-bs-target": "#offcanvas", "data-bs-toggle": "offcanvas"}

        .navbar-expand-xl.sidebar-offcanvas-menu
          %button.navbar-toggler.me-auto{"aria-controls" => "offcanvasSidebar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-auto-close" => "outside", "data-bs-target" => "#offcanvasSidebar", "data-bs-toggle" => "offcanvas", :type => "button"}
            %i.bi.bi-text-right.fa-fw.h2.lh-0.mb-0.rtl-flip{"data-bs-target" => "#offcanvasMenu"}
        / Toggler for sidebar END
        / Top bar left
        .navbar-expand-lg.ms-auto.ms-xl-0
          / Toggler for menubar START
          %button.navbar-toggler.ms-auto{"aria-controls" => "navbarTopContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarTopContent", "data-bs-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-animation
              %span
              %span
              %span
          / Toggler for menubar END
          / Topbar menu START
          #navbarTopContent.collapse.navbar-collapse.w-100
            / Top search START
            .nav.my-3.my-xl-0.flex-nowrap.align-items-center
              .nav-item.w-100
                %form.position-relative
                  %input.form-control.pe-5.bg-secondary.bg-opacity-10.border-0{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
                  %button.bg-transparent.px-2.py-0.border-0.position-absolute.top-50.end-0.translate-middle-y{:type => "submit"}
                    %i.fas.fa-search.fs-6.text-primary
            / Top search END
          / Topbar menu END
        / Top bar left END
        / Top bar right START
        .ms-xl-auto
          %ul.navbar-nav.flex-row.align-items-center
            / Notification dropdown START
            %li.nav-item.ms-2.ms-md-3.dropdown
              / Notification button
              %a.btn.btn-light.btn-round.mb-0{"aria-expanded" => "false", "data-bs-auto-close" => "outside", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.bi.bi-bell.fa-fw
              / Notification dote
              %span.notif-badge.animation-blink
              / Notification dropdown menu START
              .dropdown-menu.dropdown-animation.dropdown-menu-end.dropdown-menu-size-md.p-0.shadow-lg.border-0
                .card.bg-transparent
                  .card-header.bg-transparent.border-bottom.py-4.d-flex.justify-content-between.align-items-center
                    %h6.m-0
                      Notifications
                      %span.badge.bg-danger.bg-opacity-10.text-danger.ms-2 2 new
                    %a.small{:href => "#"} Clear all
                  .card-body.p-0
                    %ul.list-group.list-unstyled.list-group-flush
                      / Notif item
                      %li
                        %a.list-group-item-action.border-0.border-bottom.d-flex.p-3{:href => "#"}
                          .me-3
                            .avatar.avatar-md
                              %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/08.jpg"}/
                          %div
                            %p.text-body.small.m-0
                              Congratulate
                              %b Joan Wallace
                              for graduating from
                              %b Microverse university
                            %u.small Say congrats
                      / Notif item
                      %li
                        %a.list-group-item-action.border-0.border-bottom.d-flex.p-3{:href => "#"}
                          .me-3
                            .avatar.avatar-md
                              %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/02.jpg"}/
                          %div
                            %h6.mb-1 Larry Lawson Added a new course
                            %p.small.text-body.m-0 What's new! Find out about new features
                            %u.small View detail
                      / Notif item
                      %li
                        %a.list-group-item-action.border-0.border-bottom.d-flex.p-3{:href => "#"}
                          .me-3
                            .avatar.avatar-md
                              %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/05.jpg"}/
                          %div
                            %h6.mb-1 New request to apply for Instructor
                            %u.small View detail
                      / Notif item
                      %li
                        %a.list-group-item-action.border-0.border-bottom.d-flex.p-3{:href => "#"}
                          .me-3
                            .avatar.avatar-md
                              %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/03.jpg"}/
                          %div
                            %h6.mb-1 Update v2.3 completed successfully
                            %p.small.text-body.m-0 What's new! Find out about new features
                            %small.text-body 5 min ago
                  / Button
                  .card-footer.bg-transparent.border-0.py-3.text-center.position-relative
                    %a.stretched-link{:href => "#"} See all incoming activity
              / Notification dropdown menu END
            / Notification dropdown END
            / Profile dropdown START
            %li.nav-item.ms-2.ms-md-3.dropdown
              / Avatar
              %a#profileDropdown.avatar.avatar-sm.p-0{"aria-expanded" => "false", "data-bs-auto-close" => "outside", "data-bs-display" => "static", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/01.jpg"}/
              / Profile dropdown START
              %ul.dropdown-menu.dropdown-animation.dropdown-menu-end.shadow.pt-3{"aria-labelledby" => "profileDropdown"}
                / Profile info
                %li.px-3
                  .d-flex.align-items-center
                    / Avatar
                    .avatar.me-3.mb-3
                      %img.avatar-img.rounded-circle.shadow{:alt => "avatar", :src => "/assets/eduport/avatar/01.jpg"}/
                    %div
                      %a.h6.mt-2.mt-sm-0{:href => "#"} Lori Ferguson
                      %p.small.m-0 example@gmail.com
                %li
                  %hr.dropdown-divider/
                / Links
                %li
                  %a.dropdown-item{:href => "#"}
                    %i.bi.bi-person.fa-fw.me-2>
                    Edit Profile
                %li
                  %a.dropdown-item{:href => "#"}
                    %i.bi.bi-gear.fa-fw.me-2>
                    Account Settings
                %li
                  %a.dropdown-item{:href => "#"}
                    %i.bi.bi-info-circle.fa-fw.me-2>
                    Help
                %li
                  %a.dropdown-item.bg-danger-soft-hover{:href => "#"}
                    %i.bi.bi-power.fa-fw.me-2>
                    Sign Out
                %li
                  %hr.dropdown-divider/
                / Dark mode switch START
                %li
                  #darkModeSwitch.modeswitch-wrap
                    .modeswitch-item
                      .modeswitch-icon
                    %span Dark mode
                / Dark mode switch END
              / Profile dropdown END
            / Profile dropdown END
        / Top bar right END
  / Top bar END
  / Page main content START
  .page-content-wrapper.border
    / Title
    .row
      .col-12.mb-3
        %h1.h3.mb-2.mb-sm-0 Dashboard
    / Counter boxes START
    .row.g-4.mb-4
      / Counter item
      .col-md-6.col-xxl-3
        .card.card-body.bg-warning.bg-opacity-15.p-4.h-100
          .d-flex.justify-content-between.align-items-center
            / Digit
            %div
              %h2.purecounter.mb-0.fw-bold{"data-purecounter-delay" => "200", "data-purecounter-end" => "1958", "data-purecounter-start" => "0"} 0
              %span.mb-0.h6.fw-light Completed Courses
            / Icon
            .icon-lg.rounded-circle.bg-warning.text-white.mb-0
              %i.fas.fa-tv.fa-fw
      / Counter item
      .col-md-6.col-xxl-3
        .card.card-body.bg-purple.bg-opacity-10.p-4.h-100
          .d-flex.justify-content-between.align-items-center
            / Digit
            %div
              %h2.purecounter.mb-0.fw-bold{"data-purecounter-delay" => "200", "data-purecounter-end" => "1600", "data-purecounter-start" => "0"} 0
              %span.mb-0.h6.fw-light Enrolled Courses
            / Icon
            .icon-lg.rounded-circle.bg-purple.text-white.mb-0
              %i.fas.fa-user-tie.fa-fw
      / Counter item
      .col-md-6.col-xxl-3
        .card.card-body.bg-primary.bg-opacity-10.p-4.h-100
          .d-flex.justify-content-between.align-items-center
            / Digit
            %div
              %h2.purecounter.mb-0.fw-bold{"data-purecounter-delay" => "200", "data-purecounter-end" => "1235", "data-purecounter-start" => "0"} 0
              %span.mb-0.h6.fw-light Course In Progress
            / Icon
            .icon-lg.rounded-circle.bg-primary.text-white.mb-0
              %i.fas.fa-user-graduate.fa-fw
      / Counter item
      .col-md-6.col-xxl-3
        .card.card-body.bg-success.bg-opacity-10.p-4.h-100
          .d-flex.justify-content-between.align-items-center
            / Digit
            %div
              .d-flex
                %h2.purecounter.mb-0.fw-bold{"data-purecounter-delay" => "200", "data-purecounter-end" => "845", "data-purecounter-start" => "0"} 0
                %span.mb-0.h2.ms-1 hrs
              %span.mb-0.h6.fw-light Total Watch Time
            / Icon
            .icon-lg.rounded-circle.bg-success.text-white.mb-0
              %i.bi.bi-stopwatch-fill.fa-fw
    / Counter boxes END
    / Chart and Ticket START
    .row.g-4.mb-4
      / Chart START
      .col-xxl-8
        .card.shadow.h-100
          / Card header
          .card-header.p-4.border-bottom
            %h5.card-header-title Earnings
          / Card body
          .card-body
            / Apex chart
            #ChartPayout
      / Chart END
      / Ticket START
      .col-xxl-4
        .card.shadow.h-100
          / Card header
          .card-header.border-bottom.d-flex.justify-content-between.align-items-center.p-4
            %h5.card-header-title Support Requests
            %a.btn.btn-link.p-0.mb-0{:href => "#"} View all
          / Card body START
          .card-body.p-4
            / Ticket item START
            .d-flex.justify-content-between.position-relative
              .d-sm-flex
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/09.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-0
                    %a.stretched-link{:href => "#"} Lori Stevens
                  %p.mb-0 New ticket #759 from Lori Stevens for General Enquiry
                  %span.small 8 hour ago
            / Ticket item END
            %hr/
            / Divider
            / Ticket item START
            .d-flex.justify-content-between.position-relative
              .d-sm-flex
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  .avatar-img.rounded-circle.bg-purple.bg-opacity-10
                    %span.text-purple.position-absolute.top-50.start-50.translate-middle.fw-bold DB
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-0
                    %a.stretched-link{:href => "#"} Dennis Barrett
                  %p.mb-0 Comment from Billy Vasquez on ticket #659
                  %span.small 8 hour ago
            / Ticket item END
            %hr/
            / Divider
            / Ticket item START
            .d-flex.justify-content-between.position-relative
              .d-sm-flex
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  .avatar-img.rounded-circle.bg-orange.bg-opacity-10
                    %span.text-orange.position-absolute.top-50.start-50.translate-middle.fw-bold WB
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-0
                    %a.stretched-link{:href => "#"} Dennis Barrett
                  %p.mb-0
                    %b Webestica
                    assign you a new ticket for
                    %b /assets/Eduport theme
                  %span.small 5 hour ago
            / Ticket item END
            %hr/
            / Divider
            / Ticket item START
            .d-flex.justify-content-between.position-relative
              .d-sm-flex
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/04.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-0
                    %a.stretched-link{:href => "#"} Dennis Barrett
                  %p.mb-0 Thanks for contact us with your issues.
                  %span.small 9 hour ago
            / Ticket item END
          / Card body END
      / Ticket END
    / Chart and Ticket END
    / Top listed Cards START
    .row.g-4
      / Top instructors START
      .col-lg-6.col-xxl-4
        .card.shadow.h-100
          / Card header
          .card-header.border-bottom.d-flex.justify-content-between.align-items-center.p-4
            %h5.card-header-title Top Instructors
            %a.btn.btn-link.p-0.mb-0{:href => "#"} View all
          / Card body START
          .card-body.p-4
            / Instructor item START
            .d-sm-flex.justify-content-between.align-items-center
              / Avatar and info
              .d-sm-flex.align-items-center.mb-1.mb-sm-0
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/09.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-1
                    Lori Stevens
                    %i.bi.bi-patch-check-fill.text-info.small.ms-1
                  %ul.list-inline.mb-0.small
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-book.text-purple.me-1>
                      25 Courses
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-star.text-warning.me-1>
                      4.5/5.0
              / Button
              %a.btn.btn-sm.btn-light.mb-0{:href => "#"} View
            / Instructor item END
            %hr/
            / Divider
            / Instructor item START
            .d-sm-flex.justify-content-between.align-items-center
              / Avatar and info
              .d-sm-flex.align-items-center.mb-1.mb-sm-0
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/03.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-1 Dennis Barrett
                  %ul.list-inline.mb-0.small
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-book.text-purple.me-1>
                      18 Courses
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-star.text-warning.me-1>
                      4.5/5.0
              / Button
              %a.btn.btn-sm.btn-light.mb-0{:href => "#"} View
            / Instructor item END
            %hr/
            / Divider
            / Instructor item START
            .d-sm-flex.justify-content-between.align-items-center
              / Avatar and info
              .d-sm-flex.align-items-center.mb-1.mb-sm-0
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/01.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-1
                    Jacqueline Miller
                    %i.bi.bi-patch-check-fill.text-info.small.ms-1
                  %ul.list-inline.mb-0.small
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-book.text-purple.me-1>
                      21 Courses
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-star.text-warning.me-1>
                      4.8/5.0
              / Button
              %a.btn.btn-sm.btn-light.mb-0{:href => "#"} View
            / Instructor item END
            %hr/
            / Divider
            / Instructor item START
            .d-sm-flex.justify-content-between.align-items-center
              / Avatar and info
              .d-sm-flex.align-items-center.mb-1.mb-sm-0
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/04.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-1 Billy Vasquez
                  %ul.list-inline.mb-0.small
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-book.text-purple.me-1>
                      15 Courses
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-star.text-warning.me-1>
                      4.5/5.0
              / Button
              %a.btn.btn-sm.btn-light.mb-0{:href => "#"} View
            / Instructor item END
            %hr/
            / Divider
            / Instructor item START
            .d-sm-flex.justify-content-between.align-items-center
              / Avatar and info
              .d-sm-flex.align-items-center.mb-1.mb-sm-0
                / Avatar
                .avatar.avatar-md.flex-shrink-0
                  %img.avatar-img.rounded-circle{:alt => "avatar", :src => "/assets/eduport/avatar/05.jpg"}/
                / Info
                .ms-0.ms-sm-2.mt-2.mt-sm-0
                  %h6.mb-1
                    Amanda Reed
                    %i.bi.bi-patch-check-fill.text-info.small.ms-1
                  %ul.list-inline.mb-0.small
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-book.text-purple.me-1>
                      29 Courses
                    %li.list-inline-item.fw-light.me-2.mb-1.mb-sm-0
                      %i.fas.fa-star.text-warning.me-1>
                      4.5/5.0
              / Button
              %a.btn.btn-sm.btn-light.mb-0{:href => "#"} View
            / Instructor item END
          / Card body END
      / Top instructors END
      / Notice Board START
      .col-lg-6.col-xxl-4
        .card.shadow.h-100
          / Card header
          .card-header.border-bottom.p-4
            %h5.card-header-title Notice board
          / Card body START
          .card-body.p-4
            .custom-scrollbar.h-300px
              / Notice Board item START
              .d-flex.justify-content-between.position-relative
                .d-sm-flex
                  .icon-lg.bg-purple.bg-opacity-10.text-purple.rounded-2.flex-shrink-0
                    %i.fas.fa-user-tie.fs-5
                  / Info
                  .ms-0.ms-sm-3.mt-2.mt-sm-0
                    %h6.mb-0
                      %a.stretched-link{:href => "#"} Join New Instructor
                    %p.mb-0 Amongst moments do in arrived Fat weddings believed prospect
                    %span.small 5 min ago
              / Notice Board item END
              %hr/
              / Divider
              / Notice Board item START
              .d-flex.justify-content-between.position-relative
                .d-sm-flex
                  .icon-lg.bg-orange.bg-opacity-10.text-orange.rounded-2.flex-shrink-0
                    %i.fas.fa-book-open.fs-5
                  / Info
                  .ms-0.ms-sm-3.mt-2.mt-sm-0
                    %h6.mb-0
                      %a.stretched-link{:href => "#"} Update New Course
                    %p.mb-0 Arrived Fat weddings believed prospect
                    %span.small 4 hour ago
              / Notice Board item END
              %hr/
              / Divider
              / Notice Board item START
              .d-flex.justify-content-between.position-relative
                .d-sm-flex
                  .icon-lg.bg-info.bg-opacity-10.text-info.rounded-2.flex-shrink-0
                    %i.fas.fa-book.fs-5
                  / Info
                  .ms-0.ms-sm-3.mt-2.mt-sm-0
                    %h6.mb-0
                      %a.stretched-link{:href => "#"} Update Syllabus
                    %p.mb-0 Arrived Fat weddings believed prospect
                    %span.small 2 days ago
              / Notice Board item END
              %hr/
              / Divider
              / Notice Board item START
              .d-flex.justify-content-between.position-relative
                .d-sm-flex
                  .icon-lg.bg-danger.bg-opacity-10.text-danger.rounded-2.flex-shrink-0
                    %i.fas.fa-globe.fs-5
                  / Info
                  .ms-0.ms-sm-3.mt-2.mt-sm-0
                    %h6.mb-0
                      %a.stretched-link{:href => "#"} Update New Feature
                    %p.mb-0 Arrived Fat weddings believed prospect
                    %span.small 3 days ago
              / Notice Board item END
          / Card body END
          / Card footer START
          .card-footer.border-top
            .alert.alert-success.d-flex.align-items-center.mb-0.py-2
              %div
                %small.mb-0 45 more notices listed
              .ms-auto
                %a.btn.btn-sm.btn-success-soft.mb-0{:href => "#!"} View all
          / Card footer START
      / Notice Board END
      / Traffic sources START
      .col-lg-6.col-xxl-4
        .card.shadow.h-100
          / Card header
          .card-header.border-bottom.d-flex.justify-content-between.align-items-center.p-4
            %h5.card-header-title Traffic Sources
            %a.btn.btn-link.p-0.mb-0{:href => "#"} View all
          / Card body START
          .card-body.p-4
            / Chart
            .col-sm-6.mx-auto
              #ChartTrafficViews
            / Content
            %ul.list-group.list-group-borderless.mt-3
              %li.list-group-item
                %i.text-primary.fas.fa-circle.me-2>
                Create a Design System in Figma
              %li.list-group-item
                %i.text-success.fas.fa-circle.me-2>
                The Complete Digital Marketing Course - 12 Courses in 1
              %li.list-group-item
                %i.text-warning.fas.fa-circle.me-2>
                Google Ads Training: Become a PPC Expert
              %li.list-group-item
                %i.text-danger.fas.fa-circle.me-2>
                Microsoft Excel - Excel from Beginner to Advanced
        / Card body END
      / Traffic sources END
    / Top listed Cards END
  / Page main content END
/ Page content END
/ **************** MAIN CONTENT END ****************
/ Back to top
.back-top
  %i.bi.bi-arrow-up-short.position-absolute.top-50.start-50.translate-middle

