// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



// My Own Cool Style: 
// $cool-success: #77bfa3;
// $cool-primary: #98c9a3;
// $cool-info: #bfd8bd;
// $cool-warning: #f7b801;
// $cool-danger: #df2935;
// $cool-light: #e9f5db;

// Violet
// $cool-success: #dbff00;
// $cool-primary: #363073;
// $cool-info: #8983c4;
// $cool-warning: #f7b801;
// $cool-danger: #df2935;
// $cool-light: #dfdfdf;

// Green dark
// $cool-success: #588157;
// $cool-primary: #344e41;
// $cool-info: #3a5a40;
// $cool-warning: #f7b801;
// $cool-danger: #df2935;
// $cool-light: #dad7cd;

// Serio
$cool-success: #457b9d;
$cool-primary: #1d3557;
$cool-info: #a8dadc;
$cool-warning: #f7b801;
$cool-danger: #df2935;
$cool-light: #f1faee;

// Blue dark
// $cool-success: #0077b6;
// $cool-primary: #03045e;
// $cool-info: #00b4d8;
// $cool-warning: #f7b801;
// $cool-danger: #df2935;
// $cool-light: #caf0f8;


