- objects = StudyPlan.modalities
- object_name = 'study_plan'
- field_name = 'modality'
= render partial: 'rails_admin/main/custom_enum_field', locals: {objects: objects, object_name: object_name, field_name: field_name}
