%div{style: 'text-align: center !important;'}
  %h3 ¡Bienvenido a COES!

  %p
    Le damos la más cordial bienvenida al Sistema de Gestión Académica de la Facultad de Arquitectura de la Universidad Central de Venezuela, 

  %h1 COES
    
  %p
    Puede ingresas haciendo clíc en el siguiente enlace: 
    = link_to 'coesfhe.com', 'https://coesfhe.com'
    e ingresar con el número de su cédula de identidad en ambos campos
