<h1>User#welcome</h1>

<p>
  Hola, {{ email }}. Bienvenido(a) al Sistema COES de la Facultad de Arquitectura de la Universidad Central de Venezuela
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>
