= form_tag('/session_admin/change_period_session', class: 'form-horizontal') do
  .modal-body
    .control-group
      %span.control-label
        Período Actual:

      .controls
        = text_field_tag :actual, session[:period_name], readonly: true, disabled: true, class: 'form-control'
    %br
    .control-group
      %span.control-label
        Período a Cambiar:
      .controls
        - @periods = current_user&.admin&.periods.reject{|pe| pe.name.eql? session[:period_name]}
        = collection_select nil, :nuevo, @periods, :name, :name, {:prompt => 'Seleccione Período'}, { class: 'form-control', required: true }
  .modal-footer
    = submit_tag 'Cambiar Período', class: 'btn btn-primary'
    %button.btn.btn-secondary{"data-bs-dismiss": "modal", type: "button"}
      Cerrar

