- objects = {'jefe_control_estudio' => 1, 'asistente' => 3}
- object_name = 'admin'
- field_name = 'role'
= render partial: 'rails_admin/main/custom_enum_field', locals: {objects: objects, object_name: object_name, field_name: field_name}