-# frozen_string_literal: true
.table.table-sm.table-striped.border
  .row.text-center.fw-bold
    .col-6 Asignatura
    .col-1 Sección
    .col-4 Estado
    .col-1 Calif


  - academic_records.each do |ar|
    .row.text-center
      .col-6= ar.subject.desc
      .col-1= ar.section.code
      .col-4= ar.badge_status.html_safe
      .col-1= ar.definitive_q_value

%br