%table.table-striped.text-center.no_border
  %thead
    %tr
      %th Código
      %th Asignatura
      %th Créd
      %th Tipo
      %th Sec
      %th Conv
      %th Cal
      %th Cal. Alf

  %tbody
    - academic_records.sort_by_subject_name.each do |academic_record|
      - @subject = academic_record.subject
      - @academic_record = academic_record
      - if academic_record.qualifications.any?
        - academic_record.qualifications.each do |q|
          = render partial: '/academic_records/tr_to_history_kardex', locals: {obj: q}
      - else
        = render partial: '/academic_records/tr_to_history_kardex', locals: {obj: @academic_record}

