.text-center
  %table.table.table-condensed.table-hover
    %tbody
      %tr
        %td.string_type= user.profile_set
        %td.string_type= user.ci
        %td.string_type= user.first_name
        %td.string_type= user.last_name
