.offcanvas-header
  %h5#offcanvasEndLabel
    .input-group-prepend
      %span.mb-0.fs-1 🤔
      %h3.text-center Recuperar Contraseña 
  %button.btn-close.text-reset{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
.offcanvas-body

  .alert= notice
  %h6.fw-light.mb-4 Para recibir instrucciones de una nueva contraseña, escriba su correo registrado en COES:
  / Form START
  = form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: :false }) do |f|

    .mb-4
      .input-group.input-group-lg
        %span.input-group-text.bg-light.rounded-start.border-0.text-secondary.px-3
          %i.fas.fa-envelope
        %input#InputEmail.form-control.border-0.bg-light.rounded-end.ps-1.required{autofocus: true, type: :email, name: "user[email]", required: true}
    / Button
    .align-items-center.mt-0
      .d-grid
        %button.btn.btn-primary.mb-0{type: :submit} Enviar Instrucciones
      .d-grid
        = link_to "Volver", new_session_path(resource_name), class: 'btn btn-secondary mt-4'

:javascript
  document.getElementById('offcanvasEnd').className += ' show';
