- case mode
- when 'enroll'
  - title = 'Activar o desactivar Inscripción'
- when 'active'
  - title = 'Activar o desactivar Período'
- when 'post_qualification'
  - title = 'Activar o desactivar Calificaciones Posteriores'
- else
  - title = ''

.text-center
  .form-check.form-switch
    - url = "/academic_processes/#{academic_process.id}"
    = check_box_tag "#{mode}#{academic_process.id}", academic_process.id, academic_process.attributes[mode], 'data-bs-toggle': :tooltip, class: "form-check-input switch", onclick: 'updateElem(`'+url+'`, `{"academic_process":{"'+mode+'":${this.checked}}}`);', title: title

:javascript

  function updateElem(url, attrs){
    $.ajax({
      url: `${url}`,
      type: 'PUT',
      data: JSON.parse(attrs),
      dataType: 'json',
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function(json) {
        toastr.success(json.data);
      },
      error: function(json) {
        toastr.error(json.data);
      },
      unprocessable_entity: function(json) {
        toastr.error(json.data);
      }
    });

  }
