#study_plan_field.control-group.row.mb-3.enum_type
  %label.col-sm-2.col-form-label.text-md-end{for: "study_plan_field"} Plan de Estudio
  .col-sm-10.controls
    - if StudyPlan.count.eql? 1 and School.count.eql? 1
      - study_plan = StudyPlan.first
      - @study_plan_id = study_plan.id
      - period = study_plan.school.periods.last
      - @period_nombre = period.name if period

    = grouped_collection_select nil, :study_plan_id, School.all, :study_plans, :description, :id, :desc, {:prompt => "Seleccione plan de estudio por defecto...", selected: @study_plan_id}, { class: 'form-control', required: true}
    .form-text
      %span.label.label-danger Requerido

#period_field.control-group.row.mb-3.enum_type
  %label.col-sm-2.col-form-label.text-md-end{for: "period_field"} Período
  .col-sm-10.controls
    = grouped_collection_select nil, :nombre_periodo, School.all, :periods, :name, :name, :name, {:prompt => "Seleccione periodo por defecto...", selected: @period_nombre}, { class: 'form-control', required: true}

    .form-text
      %span.label.label-danger Require
