#area_field.control-group.row.mb-3.enum_type
  %label.col-sm-2.col-form-label.text-md-end{for: "area_field"} Área de Conocimiento
  .col-sm-10.controls
    = select(nil, :area_id, Area.all.collect{|o| [ o.description, o.id ] }, { include_blank: 'Seleccione Área...', selected: @area_id}, {class: "form-control ra-filtering-select-input ui-autocomplete-input", required: true})
    .form-text
      %span.label.label-danger Requerida
