%h6.alert.alert-warning.text-justify 
  %p
    %span.mb-0 ✋🏽
    %b !Atención!
  %p Los valores seleccionados a continuación se aplicarán a todos los registros por defecto. Si el registro ya existe en el sistema, los datos suministrado serán actualizados.

  %p Se procesarán hasta 700 filas por archivo.
