.border.p-2.mt-2
  %h4.text-center Ejemplo de archivo
  %h6.alert.alert-warning.text-justify 
    %b Formato de las cabeceras: 
    ci, email, nombres, apellidos, sexo (en minúscula y sin espacios):
  .text-center
    = image_tag image_url('ejem_csv_importar_estudiantes.png')#, width: '100%'
    %p 
      %div{style: 'color:#87E46E'} #campos opcionales
      .text-danger #campos obligatorios
      %div{style: 'color:#76D8FC'} #nombres de la cabecera
