- if section.qualified? || (current_user.admin? && session[:rol].eql? 'admin')
  = link_to "/sections/#{section.id}.pdf", class: 'btn btn-success btn-sm float-right' do
    .fa.fa-download.fa-list
    Acta PDF  