- if @section.qualified?
  = link_to "/sections/#{section.id}.pdf", class: 'btn btn-success btn-sm float-right', target: '_blank', rel: "noopener noreferrer" do
    .fa.fa-download.fa-list
    Acta PDF  