= render partial: "/sections/download_options", locals: {section: section}
= render partial: '/sections/desc_table', locals: {section: section}

%br
.fixed-top.alert.text-center.text-small#message{role: :alert}

= render partial: 'academic_records/qualify', locals: {section: section}
