.signatures
  %br
  %br
  .font-title.text-center FACULTAD
  %table.no_border
    %thead
      %tr
        %th.text-center{style: 'width: 500px'} JURADO EXAMINADOR
        %th.text-center{style: 'width: 500px'} SECRETARÍA
  %br
  %table.no_border
    %thead
      %tr
        %th APELLIDOS Y NOMBRES
        %th FIRMAS
        %th 
      %tr{style: 'height:30px'}
        %th _________________________________
        %th ______________________
        %th NOMBRE ______________________        
      %tr{style: 'height:30px'}
        %th _________________________________
        %th ______________________
        %th FIRMA _______________________
      %tr{style: 'height:30px'}
        %th _________________________________
        %th ______________________
        %th FECHA _______________________
