.text-center.py-2
  = image_tag wicked_pdf_asset_base64('logo_ucv.png'), class: 'img-fluid mb-2' 
  %p UNIVERSIDAD CENTRAL DE VENEZUELA
  %p= "CONTROL DE ESTUDIO #{@school.type_entity.upcase}"
  %p= @school.name.upcase
  %p PLANILLA DE EXAMEN


