- headers = ['Código', 'Asignatura', 'Periodo', 'Capacidad', 'Profesor']

- data = [[@section.code, @section.subject.desc, @section.period.name, @section.capacity, @section.teacher_desc]]

= render partial: '/layouts/on_table', locals: {headers: headers, rows: data}

= render template: 'academic_records/index' 