<meta charset="utf-8" />
= wicked_pdf_stylesheet_link_tag "pdf"
=# wicked_pdf_asset_pack_path "pdf"
.signature
  %br
  .font-title.text-center FACULTAD
  %table.no_border
    %thead
      %tr
        %th.text-center{style: 'width: 500px'} JURADO EXAMINADOR
        %th.text-center{style: 'width: 500px'} SECRETARÍA
  %br
  %table.no_border
    %thead
      %tr{style: 'height:40px'}
        %th APELLIDOS Y NOMBRES
        %th FIRMAS
        %th 
      %tr{style: 'height:40px'}
        %th= teacher.blank? ? '______________________' : teacher
        %th ______________________
        %th NOMBRE ______________________        
      %tr{style: 'height:40px'}
        %th _________________________________
        %th ______________________
        %th FIRMA _______________________
      %tr{style: 'height:40px'}
        %th _________________________________
        %th ______________________
        %th FECHA _______________________

%br
#pdfkit_pages.text-center 


:javascript
  var pdfInfo = {};
  var x = document.location.search.substring(1).split('&');
  for (var i in x) { var z = x[i].split('=',2); pdfInfo[z[0]] = unescape(z[1]); }
  var page = pdfInfo.page || 1;
  var pageCount = pdfInfo.topage || 1;
  document.getElementById('pdfkit_pages').textContent = 'Página: '+page+' de '+pageCount;