%br
%br
.text-center
  = image_tag image_url('build_website.png'), width: '40%'
  - image = User.last.image_ci
  =# image_tag image_url(image)
  =# image_tag main_app.url_for(User.last.image_ci) 
  =# image_tag main_app.url_for(image.variant(resize_to_limit: [35, 35]))
  %h3 Sistema de Control de Estudios
  %h3 Facultad de Arquitectura y Urbanismo
  %h3 UNIVERSIDAD CENTRAL DE VENEZUELA 
  %h6.alert.alert-info AQUI SE CONSTRUYE COESFAU