%br
%br
.text-center
	= image_tag image_url('build_website.png'), width: '40%'
	%h3 Sistema de Control de Estudio
	%h3 Facultad de Arquitectura y Urbanismo
	%h3 UNIVERSIDAD CENTRAL DE VENEZUELA 
	%h6.alert.alert-info AQUI SE CONSTRUYE COESFAU