%br
%br
%br
.text-center
	= image_tag image_url('build_website.png', width: '50%')
	%h1 AQUI SE CONSTRUYE COESFAU
	%h2 Sistema de Control de Estudio
	%h2 Facultad de Arquitectura y Urbanismo
	%h2 UNIVERSIDAD CENTRAL DE VENEZUELA 