%br
%br
.text-center
  = image_tag image_url('build_website.png'), width: '40%'
  %h3 Sistema de Control de Estudios
  %h3 Facultad de Arquitectura y Urbanismo
  %h3 UNIVERSIDAD CENTRAL DE VENEZUELA 

%br
%br

.content.p-5
  %h2.text-orange Seleccione Rol:

  %ol
    - if current_user.admin? and @roles.include? :admin
      %li= link_to 'Administrador', 'rails_admin_path'
    - if current_user.student? and @roles.include? :student
      %li= link_to 'Estudiante', student_session_index_path 
    - if current_user.teacher? and @roles.include? :teacher
      %li= link_to 'Profesor', teacher_session_index_path
