.p-md-1
  %h6.alert.alert-warning.text-justify
    %b Atención:
    = "Usted tiene una inscripción en proceso, por favor complétela".html_safe  
    = render partial: 'enroll_academic_processes/msg_enroll_info_complete'