.text-center.alert.alert-success.py-2.mt-0
  %h4 ¡Preinscripción Completada! 
  Espere la confirmación del proceso por Control de Estudios

- if false
  .text-center
    = link_to '#', class: 'btn btn-success' do
      .fa.fa-download
      Planilla de Preinscripción