%h4
  .text-center.mt-2.bg-info.py-2 Historial Académico

- grade.enroll_academic_processes.sort_by_period.each do |enroll_academic_process|
  .border.m-3.p-4
    = render partial: 'enroll_academic_processes/show', locals: {enroll_academic_process: enroll_academic_process}
