- objects = Timeblock.days
- object_name = 'timeblock'
- field_name = 'day'
= render partial: 'rails_admin/main/custom_enum_field', locals: {objects: objects, object_name: object_name, field_name: field_name}
