- objects = Timeblock.modalities#.keys.map { |m| [I18n.t("activerecord.attributes.timeblock.modalities.#{m}"), m] }
- object_name = 'timeblock'
- field_name = 'modality'
= render partial: 'rails_admin/main/custom_enum_field', locals: {objects: objects, object_name: object_name, field_name: field_name}
