- if params[:school_id]
    - school = School.find params[:school_id]
    = collection_select :academic_process, :process_before_id, school.academic_processes, :id, :period_desc_and_modality, {prompt: "Seleccione Periodo..."}, {class: "form-control"}
- elsif @object&.school
    = collection_select :academic_process, :process_before_id, @object.school.academic_processes.reject{|ap| @object.id and (ap.id.eql? @object.id)}, :id, :period_desc_and_modality, {prompt: "Seleccione periodo de #{@object&.school.short_name}...", selected: @object.id}, {class: "form-control"}
- else
    = grouped_collection_select :academic_process, :proccess_before_id, School.all, :academic_processes, :name, :id, :period_desc_and_modality, {prompt: "Seleccione Periodo..."}, { class: "form-control"}