
- if params[:school_id]
    .form-control= School.find(params[:school_id]).name
    = hidden_field 'academic_process', 'school_id', value: params[:school_id]
- else 
    = collection_select 'subject', 'area_id', School.all, :id, :name, {include_blank: 'Seleccione...'}, {class: 'input-group form-control required', required: true}
