.border

	=# image_tag Rails.application.routes.url_helpers.rails_blob_path(virtual_object.backup_file, only_path: true), style: 'max-height: 500px;' #virtual_object.backup_file #'payment_3087'

	=# image_tag url_for(virtual_object.backup_file)
	=# image_tag main_app.url_for(object.picture_profile.thumb, only_path: true) if (object.picture_profile and object.picture_profile.attached? and object.picture_profile.content_type.eql? "image/jpeg")
	= image_tag main_app.url_for(object.picture_profile_as_thumb, only_path: true) if (object.picture_profile and object.picture_profile.attached? and object.picture_profile.content_type.eql? "image/jpeg")
	=# image_tag Rails.application.routes.url_helpers.rails_blob_path(object.picture_profile, only_path: true) #virtual_object.backup_file #'payment_3087'
	=# image_path virtual_object.backup_file
	=# image_path '/public/payment_receives/payment_3087' 
	=# virtual_object.backup_file.service_url
	=# image_tag object.picture_profile.variant(resize: '100x100').processed.service_url 
	=# url_for(virtual_object.backup_file)