 
= form_tag custom_export_path, class: 'form-horizontal' do
  .form-group.control-group
    %label.col-sm-2.control-label{for: "from"}= t('admin.custom_export.from')
    .col-sm-10.controls
      = text_field_tag :from, Time.now.beginning_of_day - 1.month, required: true, data: { datetimepicker: true, options: { "showTodayButton":true,"format":"YYYY-MM-DD HH:mm" } }, class: 'form-control'

  .form-group.form-actions
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary{type: "submit"}
        %i.icon-white.icon-download
        = t("admin.custom_export.submit")