- if entity = params[:model_name].pluralize #= request.path.split("/")[2].pluralize
  - if entity.eql? 'students' or entity.eql? 'teachers'
    - headers = 'ci, email, nombres, apellidos, sexo, telefono'
  - elsif entity.eql? 'subjects'
    - headers = 'id, nombre, creditos, modalidad, tipo_calificacion'
  - elsif entity.eql? 'academic_records'
    - headers = 'ci, codigo, numero, nombre_periodo, nota'

  = render partial: '/importer/importer_help', locals: {headers: headers, image_name: "example_csv_import_#{entity}.png", entity: entity}
  = render partial: "/importer/form_layout", locals: {entity: entity, headers: headers}
