
    
- value_school_id = params[:school_id]
- value_school_id ||= @object.school_id

- schools = _current_user&.admin&.schools_auh&.order(:name)

= collection_select :subject, :school_id, schools, :id, :short_name, {include_blank: 'Seleccione Escuela...', selected: value_school_id}, {class: 'form-control required', required: true, onChange: 'set_departaments();'}

:javascript
    set_departaments = () => {
        let school = $('#subject_school_id option:selected').text();
        let departament_id = $('#subject_departament_id');
        $('#subject_departament_id optgroup').hide();
        departament_id.attr('disabled', false);
        departament_id.attr('readonly', false);
        departament_id.attr('required', true);
        departament_id.prop('selectedIndex', 0);
        $("#subject_departament_id optgroup[label='" + school + "']").show();
    }