- if active_process
  %i.fa-solid.fa-calendar-check.text-success{'data-bs-toggle': :tooltip, title: 'Período Activo'}
- if enrolling_process
  %i.fa-solid.fa-graduation-cap.text-success{'data-bs-toggle': :tooltip, title: 'Proceso de Inscripción Abierto'}