.text-center

  = form_tag("/schools/#{school.id}", class: "form-inline", method: :put) do 
    .input-group{style: 'width:75%'}
      =# text_field_tag :section_code, {}, {placeholder: 'Identificador', class: "form-control", oninput: "notSpecialChars(this)", maxlength: 3, id: :code}
      
      = collection_select(:school, :enroll_process_id, school.academic_processes, :id, :period_name, {include_blank: 'Inscripci贸n Cerrada', selected: school.active_process_id}, {class: "form-control form-control-sm", title: "Para cerrar la inscripci贸n seleccione 'Inscripci贸n Cerrada'"})
              
      = button_tag(type: :submit, class: 'input-group-text btn btn-success btn-sm', title: 'Clic para guardar selecci贸n') do
        .fa-regular.fa-check
