.text-center
  .form-check.form-switch
    - url = "/schools/#{school.id}"
    = check_box_tag "enable_dependents#{school.id}", school.id, school.enable_dependents?, class: "form-check-input switch", onclick: 'updateElem(`'+url+'`, `{"school":{"enable_dependents":${this.checked}}}`);', title: 'Marque esta casilla para activar las prelaciones al momento de inscripción del estudiante. Caso contrario, desmásquela.'

:javascript

  function updateElem(url, attrs){
    $.ajax({
      url: `${url}`,
      type: 'PUT',
      data: JSON.parse(attrs),
      dataType: 'json',
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function(json) {
        toastr.success(json.data);
      },
      error: function(json) {
        toastr.error(json.data);
      },
      unprocessable_entity: function(json) {
        toastr.error(json.data);
      }
    });

  }
