.input-group.input-group-sm    
  = link_to 'javascript:void(0)', 'aria-controls': ".collapse", 'aria-expanded': false, "data-bs-toggle": :collapse, onclick: "$('.collapsable').collapse('toggle');$('.fa-chevron-right').toggleClass('fa-rotate-90');", class: 'btn btn-sm btn-info mx-2' do
    Desplegar Todo el Árbol de Asignaturas 
    %i.fa.fa-chevron-right
  %input.form-control{"aria-label": "", type: "text", placeholder: 'Buscar asignaturas por código', id: 'filterTable', name: 'filterSubject'}


.table-responsive
  %table.table.table.sm
    %thead.align-top
      %tr
        - school.areas.includes(:subjects).uniq.each do |ar|
          - @area = ar
          %th= render template: '/areas/show'


:javascript

  document.addEventListener("rails_admin.dom_ready", function() {

    $('#filterTable').on('keyup', function(e){
      $('.trFiltrable').hide().filter(":contains('" + this.value.toUpperCase() + "')").show();

      // Avancing in search by title:
      // $('.trFiltrable').hide().filter("a[aria-label*='" + this.value.toUpperCase() + "']").show();


    });

    $('.mouseover').hover( function(e){
      let clase = $(this).attr( "mouseover");
      $('.'+clase).toggleClass('table-warning');
    });
  });