- if false #current_user.sign_in_count.eql? 1
  =# render template: 'devise/passwords/edit', locals: {resource: current_user, resource_name: 'User'}


.p-3
  = render partial: '/users/personal_data', locals: {user: @student.user}

  = render template: '/students/show'

=# link_to show_path(@grade, format: :pdf), target: '_blank', title: 'Click para Exportar como PDF', class: 'btn btn-default'
