// Graphical variables
// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "bootstrap-icons";
@import "fontawesome";

// @import "config/eduport/vendor/vendor";
// @import "config/eduport/style";

// Your CSS partials
// @import "components/index";
// @import "pages/index";

@import "components/progress_wizard";
@import "components/file_upload";
@import "custom_style";
@import "toastr/toastr";

// .bg-main { background-color: $green-100; }
