#imageMain{
	background-image: url('bg_banner_main.png');
	background-position: center center;
	background-size: auto auto;
	background-repeat: no-repeat;
}

.headers {
	position: sticky;
	top:0;
	background-color: #F4F4F4;
}