@import "custom_style";
@import "bootstrap/scss/bootstrap";

.page-break { display:block; clear:both; page-break-after:always; }

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid; }

.h-30{height:30px;}
.w-15{width: 18% !important;}
.image_profile{
  position: absolute;
  left: 20px;
  top: 10px	
}
.signatures{
	position: absolute;
  bottom: 100;
  right: 0;
}

.table-striped > tbody > tr:nth-child(odd) td {
	background-color: #F0F0F0 !important;
}

.font-title{
font-size: 16px;
font-weight: bold;
}
.font-m{
font-size: 16px;
}

.font-sm{
font-size: 14px;
}


.font-xs{
font-size: 13px;
}

.font-mini{
font-size: 11px;
}

.text-justify {
	text-align: justify;
}

.text-right {
	text-align: right;
}

text-left{
	text-align: left;
}

#watermark_bg{
	background-image: url('logo_bg.png');
	background-size: auto auto;
	background-repeat: repeat;
	opacity: 0.1;
	transform: rotate(30deg);

}

#watermark_bg_acta{
	background-image: url('logo_ucv_bg_acta.png');
	background-position: center;
	background-size: 600;
	background-repeat: repeat-y;

}

.background {
	background-image: url('bg_validation.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
}

.firma_jefe{
	content: url('firma_jefe_coes.png');
	display: block;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
	width: 27%;
}

.sello_coes{
	content: url('sello_coesfhe_azul.png');
	display: block;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
	width: 27%;
}

.alert-message{
	background-color: #fdf1cc; 
	color: #946e01;
	padding: 15px;
}

.no_border{
	border: 0px solid white;
} 

.border{
	border: 0.5px solid black;
} 

.padding-x{
	padding: 2px 10px;
}

.padding-y-1{
	padding: 1px 2px;
}

.padding-y-10{
	padding: 10px 2px;
}

table {
  width: 100%;
}