@import "custom_style";
@import "bootstrap/scss/bootstrap";

.page-break { display:block; clear:both; page-break-after:always; }

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid; }

.image_profile{
  position: absolute;
  left: 20px;
  top: 20px	
}
.signatures{
	position: absolute;
  bottom: 100;
  right: 0;
}

.table-striped > tbody > tr:nth-child(odd) td {
	background-color: #F0F0F0 !important;
}

.font-title{
font-size: 16px;
font-weight: bold;
}
.font-m{
font-size: 16px;
}

.font-sm{
font-size: 14px;
}


.font-xs{
font-size: 13px;
}

.text-justify {
	text-align: justify;
}

.text-right {
	text-align: right;
}

text-left{
	text-align: left;
}

#watermark_bg{
	background-image: url('logo_bg.png');
	background-size: auto auto;
	background-repeat: repeat;
	opacity: 0.1;
	transform: rotate(30deg);

}


.alert-message{
	background-color: #fdf1cc; 
	color: #946e01;
	padding: 15px;
}

.no_border{
	border: 0px solid white;
} 

.border{
	border: 0.5px solid black;
} 

.padding-x{
	padding: 2px 10px;
}

.padding-y-1{
	padding: 1px 2px;
}

.padding-y-10{
	padding: 10px 2px;
}

table {
  width: 100%;
}