%p ¡Hola #{@resource.name}!
%p Se ha solicitado un cambio de clave. Puedes hacerlo mediante le siguiente enlace:
%p= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token)
%p Si no hiciste la solicitud, por favor ignora este correo.
