= render 'layouts/main_banner_email'
%br
%div{style: 'background-color: #FFF;margin: 10px;'}
	%h2{style: 'text-align:center'} CAMBIO DE CONTRASEÑA
	%div{style: 'padding: 0 0 6px 10%;'}
		%h3 ¡Hola #{@resource.first_name}!
		%p Se ha solicitado un cambio de contraseña. Puedes hacerlo mediante le siguiente enlace:
		%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
		%p Si no hiciste la solicitud, por favor ignora este correo.
