/ Carousel
#mainCarousel.carousel.carousel-dark.slide(data-bs-ride="carousel")
    / Indicators/dots
    .carousel-indicators
        %button.active(data-bs-slide-to="0" data-bs-target="#mainCarousel" type="button")
        %button(data-bs-slide-to="1" data-bs-target="#mainCarousel" type="button")
        %button(data-bs-slide-to="2" data-bs-target="#mainCarousel" type="button")
    / The slideshow/carousel
    .carousel-inner
        .carousel-item.active
            = image_tag 'bg_vista_fau_cuadros2.jpeg', class:'d-block w-100', alt: 'Vista FAU'
        - billboards.each do |c|
            .carousel-item{style: 'width: 550px'}
                %div{style: 'text-align:center; margin: auto'}
                    = raw c.content

    / Left and right controls/icons
    %button.carousel-control-prev(data-bs-slide="prev" data-bs-target="#mainCarousel" type="button")
        %span.carousel-control-prev-icon(aria-hidden="true")
        %span.visually-hidden Anterior
    %button.carousel-control-next(data-bs-slide="next" data-bs-target="#mainCarousel" type="button")
        %span.carousel-control-next-icon(aria-hidden="true")
        %span.visually-hidden Próxima