#loading.modal{"aria-hidden": true, "aria-labelledby": "loadingModalLabel", tabindex: "-1", id: 'loadingModal'}
  .modal-dialog.modal-lg
    .ibox-content
      %a.text-light.text-center
      .spiner-example
        .sk-spinner.sk-spinner-chasing-dots
          .sk-dot1
          .sk-dot2
