
- include_school = true if include_school.nil?


- width = 'auto' if width.nil?
- bg_color = ' bg-primary bg-opacity-10' if bg_color.nil?
#imageMain.text-center{style: "background-size: #{width} auto", class: bg_color}
  .my-2.p-1{style: 'letter-spacing: 1px;'}
    %p.mb-1.h6 UNIVERSIDAD CENTRAL DE VENEZUELA
    %p.mb-1.h6.fw-light{style: 'font-size: 14px;'}= Faculty.first.name if Faculty.any?
    %p.mb-0.h6.fw-light{style: 'font-size: 11px;'}= School.first.name if School.any?
    .mt-0.fw-light.pt-2 Sistema de Control de Estudios COES-FAU

