
%div{style: "background-image: url('https://coesfau.nyc3.cdn.digitaloceanspaces.com/own%2Fbg_banner_main.png'); background-position: center center; background-size: auto auto; background-repeat: no-repeat; ext-align: center;background-color: #E8EFFD;bs-bg-opacity: 0.1;"}
  .my-2.p-1{style: 'letter-spacing: 1px;padding: 0.25rem !important;margin-top: 0.5rem !important;margin-bottom: 0.5rem !important;text-align: center;'}
    %p{style: 'margin-bottom: 0 !important;'} UNIVERSIDAD CENTRAL DE VENEZUELA
    %p{style: 'margin-bottom: 0 !important;'}= Faculty.first.name.titleize if Faculty.any?
    %p{style: 'margin-bottom: 0 !important;'}= School.first.name.titleize if School.any?
    %p{style: 'font-weight: 400 !important;'} Sistema de Control de Estudios COES
