%table.table.table-condensed.table-hover
  %thead
    %tr
      - headers.each do |head|
        %th.header.code_field.string_type= head.titleize
  %tbody.table-group-divider
    %tr.bank_row
      - rows.each_with_index do |row,i|
        - row.each do |v|
          %td.string_type= v
