%table.table.table-condensed.table-hover
  %thead
    %tr
      - headers.each do |head|
        %th= head.titleize
  %tbody.table-group-divider
    - rows.each_with_index do |row,i|
      - if row.is_a? String
        %tr
          %td= row
      - else
        - row.each do |v|
          %tr
            %td= v
