#remoteModal.modal.fade{"aria-hidden": true, tabindex: "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h5#remoteModalLabel.modal-title Horario
        %button.btn-close{"data-bs-dismiss" => "modal", "aria-label" => "Close"}
      .modal-body