- long ||= 'modal-xl'
.modal.fade{"aria-hidden": true, tabindex: "-1", id: id}
  .modal-dialog{class: long}
    .modal-content
      .text-center.pt-3
        %h5= title
      .modal-body
        = content.html_safe


