.modal.fade{"aria-modal": true, role: :dialog, id: id}
  .modal-dialog.modal-xl.modal-dialog-centered
    .modal-content
      .modal-header
        %h3.text-center= title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = content.html_safe
      - unless footer
        .modal-footer
          %a.btn.cancel-action{href: "#"}
            %i.fas.fa-times
            Cancelar